data/ForAINetV2/forainetv2_instance_data
data/ForAINetV2/instance_mask
data/ForAINetV2/points
data/ForAINetV2/semantic_mask
data/ForAINetV2/test_data
data/ForAINetV2/train_val_data
data/ForAINetV2/forainetv2_oneformer3d_infos_test.pkl
data/ForAINetV2/forainetv2_oneformer3d_infos_train.pkl
data/ForAINetV2/forainetv2_oneformer3d_infos_val.pkl
__pycache__/
data/ForAINetV2/test_data.zip
data/ForAINetV2/train_val_data.zip
clean_forestformer
work_dirs/
work_dirs/*
clean_forestformer.zip
data/ForAINetV2/bluecat_subsets
.claude
data/wytham_lautx
wytham_lautx.zip
wandb
.dist_test
Ralph
tests
viz/save
paper
logs
wait_and_run.sh
idea.md